.header-color {
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
.landing-grid{
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.avatar-img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border:2px solid #fff;
    padding-top: -4em;
    margin-top: 5%;
    box-shadow: 0px 6px 5px #ccc;
    -moz-border-radius:190px;
    -webkit-border-radius:190px;
}

.banner-text{
    background-color: black;
    opacity: .8;
    width:63%;
    margin: auto;
    border-radius: 10px;
}
.banner-text h1{
    font-size: 66px;
    font-weight: bold;
    color:white;
}
.banner-text hr{
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}
.banner-text p{
    color: white;
    font-size: 20px;
    padding: 1em;
}
.social-links{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}
.social-links i{
color: white;
font-size: 5em;
padding: 8px;
}
.projects-grid{
    display: flex;
    
}
/* contact*/
.contact-body{
    margin: auto;
    
    height: 100%;
    width: 100%;
    position: fixed;
    padding-top: 2em;
    justify-content: center;
}
.contact-grid{
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 550px;
    background: white;
    color:black;
    border: 2px solid red;
    margin-bottom: 20px;

}
.contact-grid h2{
    font-family: "Anton", sans-serif;
}
.contact-grid p{
    font-family: "Oxygen", sans-serif;
    font-weight: bold;
}
.contact-grid hr{
    border-top: 5px dotted black;
    width: 50%;
    margin: auto;
}
.contact-list i{
    font-size: 66px;
    padding-right: 5rem;
}
/*Resume*/
.resume-right-col{
background: #27221f;
color: white;
padding: 2em;
}
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
.swing:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}
/*typein*/
.css-typing {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 15s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }
  /*maysory*/
  .my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }
  
 
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    background: grey;
    margin-bottom: 30px;
  }